# Секрети та конфігурації
.env

# Віртуальне середовище
venv/
env/
.venv/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# База даних (якщо створюватимеш локальні файли SQLite в майбутньому)
*.sqlite3
*.db

# Файли редакторів (VS Code, PyCharm)
.vscode/
.idea/